# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Dataset - don't upload
dataset/

# YOLO training results - don't upload
runs/

# Jupyter
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db